section.hero{
    color: white;
    height: 90vh;
    // animation: 0;
    // opacity: 0;
    .down-arrow{
        stroke:white;
        position: absolute;
        bottom: 8em;
        width: 1em;
        // animation: ease;
        path{
            fill: white;
        }
    }
}

@media 